<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h2>All the Students</h2>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" src="https://media.istockphoto.com/id/1357723739/photo/studio-portrait-of-a-smiling-young-latin-woman.jpg?b=1&s=170667a&w=0&k=20&c=RIMvJI9S1mZytKJydukxUF4hRoyVbR1W3ix6gsdo72I=" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Claire </h5>
                          <p class="card-text">Adm No. 25689</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN8Guf4PYyupYiqKZ8JOflAehhwl5SjZj1RQ&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Phill</h5>
                          <p class="card-text">Adm No. 2558</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" src="https://i.pinimg.com/originals/39/e9/b3/39e9b39628e745a39f900dc14ee4d9a7.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Benny</h5>
                          <p class="card-text">Adm No. 25648</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" src="https://img.freepik.com/free-photo/portrait-smiling-attractive-redhead-young-woman-with-long-wavy-hair_295783-487.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Amber</h5>
                          <p class="card-text">Adm No. 14569</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg?w=2000" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Paul</h5>
                          <p class="card-text">Adm No. 35687</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydHJhaXR8ZW58MHx8MHx8&w=1000&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Haley</h5>
                          <p class="card-text">Adm No. 25687</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" src="https://media.istockphoto.com/id/1315808211/photo/passport-photo-of-serious-brazilian-young-adult-man-with-braces.jpg?s=612x612&w=0&k=20&c=scU5I4qHLpHgp54IAXFA3jbCJxyQa9Uwo4YGy6H6Ooo=" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Kevin</h5>
                          <p class="card-text">Adm No. 25456</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" src="https://media.istockphoto.com/id/1060680104/photo/north-african-black-young-woman.jpg?s=612x612&w=0&k=20&c=1OepiQzDGSrB4n3ZD5yz1NcxuU83alE-WW6FapOoP9c=" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Margoret</h5>
                          <p class="card-text">Adm No. 5897</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" src="https://t4.ftcdn.net/jpg/02/90/27/39/360_F_290273933_ukYZjDv8nqgpOBcBUo5CQyFcxAzYlZRW.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Luke</h5>
                          <p class="card-text">Adm No. 23654</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" src="https://media.glamourmagazine.co.uk/photos/624c1cd94eb160924f37a3b9/16:9/w_2560%2Cc_limit/PASSPORT%2520PHOTO%2520TREND%2520050422%2520georgia.barratt_SF.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">Adm No. 2478</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
